<div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Giới thiệu</h2>
            </div>
            <div class="col-12">
                <a href="">Về chúng tôi</a>
            </div>
        </div>
    </div>
</div>
<!-- Food Start -->
<div class="food">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="food-item">
                    <i class="flaticon-burger"></i>
                    <h2>Combo</h2>
                    <p>
                        Combo giá rẻ hơn, ưu đãi hơn cho bạn
                    </p>
                    <a href="">Xem ngay</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="food-item">
                    <i class="flaticon-burger"></i>
                    <h2>Món ăn vặt</h2>
                    <p>
                        Các món ăn vặt được ưa chuộng
                    </p>
                    <a href="">Xem ngay</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="food-item">
                    <i class="flaticon-snack"></i>
                    <h2>Gà rán</h2>
                    <p>
                        Các món ăn được chế biến từ thịt gà
                    </p>
                    <a href="">Xem ngay</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="food-item">
                    <i class="flaticon-snack"></i>
                    <h2>Pizza</h2>
                    <p>
                        Các loại pizza độc quyền của chúng tôi
                    </p>
                    <a href="">Xem ngay</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="food-item">
                    <i class="flaticon-snack"></i>
                    <h2>Mì</h2>
                    <p>
                        Các món ăn được chế biến từ mì
                    </p>
                    <a href="">Xem ngay</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="food-item">
                    <i class="flaticon-cocktail"></i>
                    <h2>Đồ uống</h2>
                    <p>
                        Nước giải khát và các loại đồ uống đặc biệt
                    </p>
                    <a href="">Xem ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Food End -->
<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="~/img/about.jpg" alt="Image">
                    <button type="button" class="btn-play" data-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-target="#videoModal">
                        <span></span>
                    </button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-header">
                        <p>Về chúng tôi</p>
                        <h2>Được thành lập từ năm 2020</h2>
                    </div>
                    <div class="about-text">
                        <p>
                            Chào mừng đến với LuLu!
                        </p>
                        <p>
                            Tại LuLu, chúng tôi mang đến những món ăn nhanh chất lượng, thơm ngon và đầy đủ hương vị. Với thực đơn phong phú từ những chiếc burger hấp dẫn, món snack giòn rụm cho đến các món ăn vặt đầy sáng tạo, chúng tôi cam kết mang đến cho bạn một trải nghiệm ẩm thực tuyệt vời trong thời gian ngắn nhất.
                        </p>
                        <p>
                            Chúng tôi chỉ sử dụng nguyên liệu tươi ngon, được chọn lọc kỹ càng để đảm bảo mỗi món ăn không chỉ ngon mà còn an toàn và bổ dưỡng. Dù bạn là người yêu thích các món ăn nhanh kiểu Mỹ hay muốn thử một chút hương vị mới lạ, LuLu đều có đủ lựa chọn để làm hài lòng mọi khẩu vị.
                        </p>
                        <p>
                            Hãy đến với chúng tôi để tận hưởng không gian thoải mái, dịch vụ nhanh chóng và những món ăn tuyệt vời. Chúng tôi luôn sẵn sàng chào đón bạn!
                        </p>
                    </div>
                </div>
            </div>
            <!--Sứ mệnh-->
            <div class="col-lg-6 pt-4">
                <div class="about-content">
                    <div class="section-header">
                        <h2>SỨ MỆNH</h2>
                    </div>
                    <div class="about-text">
                        <p>
                            Tất cả những gì mà chúng tôi phải làm là mang đến những hương vị tuyệt vời trong từng món ăn, mang lại niềm vui ẩm thực cho tất cả mọi người.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pt-4">
                <div class="about-img">
                    <img src="~/img/about-2.jfif" alt="Image">
                </div>
            </div>
            <!--Các tiêu chuẩn-->
            <div class="col-lg-6 pt-4">
                <div class="about-img">
                    <img src="~/img/about-4.jfif" alt="Image">
                </div>
                <div class="about-img pt-5">
                    <img src="~/img/about-3.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-6 pt-5 ">
                <div class="about-content">
                    <div class="section-header">
                        <h2>CÁC TIÊU CHUẨN FSC</h2>
                    </div>
                    <div class="about-text">
                        <p>
                            Sự phát triển vượt bậc của LuLu™ có được là nhờ vào việc tuân thủ một cách nghiêm ngặt và tận tâm vào các tiêu chuẩn cao được ký kiệu là “F.S.C”: Thực phẩm (Food) được phục vụ cho công chúng phải đáp ứng được các tiêu chuẩn vượt trội của công ty nếu không chúng tôi sẽ không đưa ra thị trường. Dịch vụ (Service) phải nhanh chóng và lịch sự. Sạch sẽ (Cleanness), từ nhà bếp đến các dụng cụ phải luôn luôn được giữ sạch. LuLu thực sự tự hào về những nhân viên của mình, những người luôn tận tụy với công việc của họ.
                        <p>
                            LuLu luôn công nhận họ bằng việc mang đến những chế độ ưu đãi tốt nhất trong ngành công nghiệp thức ăn nhanh và hỗ trợ họ trong những chương trình đào tạo toàn diện và hiện đại. Những nhà quản lý được phổ biến thường xuyên trên những hệ thống vận hành mới nhất ở cửa hàng về kỹ năng quản lý con người theo định hướng riêng so với những người khác. Những nhóm dịch vụ được đào tạo ở những cửa hàng khác nhau và dịch vụ thực phẩm luôn được đổi mới. LuLu cũng cung cấp những cơ hội nghề nghiệp cho những nhóm thành viên có chất lượng và có trình độ để họ có thể thăng tiến lên cấp quản lý trong ngành dịch vụ thực phẩm.
                        </p>
                        <p>
                            Các hoạt động tại cửa hàng được hỗ trợ đắc lực bởi các chuyên gia có kinh nghiệm trong lĩnh vực Marketing, Kỹ thuật và Quản lý Công nghệ thông tin.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- About End -->
<!-- Video Modal Start-->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>