@model IEnumerable<DoAnNhom6.Models.TblProduct>
<div class="col-lg-7 col-md-12">
    @foreach (var item in Model)
    {
        string sUrl = $"/blog/{item.Alias}-{item.ProductId}.html";

        <div class="menu-item">
            <div class="menu-img">
                <img src="@item.Image" alt="Image">
            </div>
            <div class="menu-text">
                <h3><span>@item.Name</span> <strong>@item.Price VND</strong></h3>
            </div>
        </div>
    }
</div>
<div class="col-lg-5 d-none d-lg-block">
    <img src="~/img/menu-burger-img.jpg" alt="Image">
</div>