@model DoAnNhom6.Models.TblProduct

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thêm sản phẩm</h1>
                </div>
                <div class="col sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- row -->

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">
                            <h3 class="card-title">Thêm sản phẩm</h3>
                        </div>
                        <form asp-action="Create">
                            <div class="card-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label">Tiêu đề</label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Alias" class="control-label"></label>
                                    <input asp-for="Alias" class="form-control" />
                                    <span asp-validation-for="Alias" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CategoryId" class="control-label">Danh mục</label>
                                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                                        <option value="0" selected>--[Chọn danh mục]--</option>
                                    </select>

                                </div>
                                <div class="form-group">
                                    <label asp-for="Image" class="control-label">Ảnh</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">                                           
                                            <button type="button" class="btn btn-success" onclick="openDialog()">Chọn ảnh                                                
                                                </button>
                                        </div>
                                        <input type="text" class="form-control" id="file_input" asp-for="Image" aria-describedby="button-addon2" name="Image" />
                                    </div>
                                    <span asp-validation-for="Image" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label">Mô tả</label>
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Detail" class="control-label">Chi tiết</label>
                                    <textarea asp-for="Detail" class="form-control"></textarea>
                                    <span asp-validation-for="Detail" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Price" class="control-label">Giá</label>
                                    <input asp-for="Price" class="form-control" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PriceSale" class="control-label">Giá giảm</label>
                                    <input asp-for="PriceSale" class="form-control" />
                                    <span asp-validation-for="PriceSale" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Quantity" class="control-label">Số lượng</label>
                                    <input asp-for="Quantity" class="form-control" />
                                    <span asp-validation-for="Quantity" class="text-danger"></span>
                                </div>
                                <div class="form-group form-check">
                                    <label asp-for="IsNew" class="form-check-label">
                                    <input asp-for="IsNew" type="checkbox" class="form-check-input" />SP mới
                                    </label>
                                    
                                </div>
                                <div class="form-group form-check">
                                    <label asp-for="IsBestSeller" class="form-check-label">
                                    <input asp-for="IsBestSeller" type="checkbox" class="form-check-input" />Bán chạy
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Star" class="control-label">Sao</label>
                                    <input asp-for="Star" class="form-control" />
                                    <span asp-validation-for="Star" class="text-danger"></span>
                                </div>
                                <div class="form-group form-check">
                                    <label asp-for="IsActive" class="form-check-label">
                                    <input asp-for="IsActive" type="checkbox" class="form-check-input" />Hiện
                                    </label>
                                    
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsActive" /> Hiển thị
                                    </label>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Thêm mới" class="btn btn-primary" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- #/ container -->
</div>

@{
    var summerNote = new DoAnNhom6.Areas.Admin.Model.SummerNote("#Detail");
        <partial name="_SummerNote" model="summerNote"></partial>
}
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'Detail' );
    </script>
}

